<<<<<<< HEAD
body{
    margin:0;
    background:darkgray;
    overflow:hidden;
    text-align: center;
}

#myCanvas{
    background: lightgray;
=======
body{
    margin:0;
    background:darkgray;
    overflow:hidden;
    text-align: center;
}

#myCanvas{
    background: lightgray;
>>>>>>> 0c3814b474af73b8817bb3522daf4afe49d0099b
}